@font-face {
  font-family: "Typo Formal";
  src: url('../fonts/typo_formal.otf');
}

#formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .8s;
  font-size: 1.5em;

  font-family: "Typo Formal";
}
input:focus, textarea:focus {
  outline: 0;
}

input[disabled] {
  border: none;
}

p {
  font-size: 1.3em;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}
fieldset {
  background-color: #fff;
  border-radius: 4px;
  border-color: dimgrey;
  box-shadow: 4px 5px dimgrey;
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: 480px;
  min-width: 350px;

  height: 420px;
  margin: auto;
}
#resultado {
  padding: 2em;
  text-align: center;
  transform: translateY(-1.8em);
}
legend {
  font-size: 1.7em;
  color: #575656;
}
input {
  border: 0;
  border-bottom: 2px solid #000;
  padding: 5px;
  width: 95%;
  font-size: large;
  position: relative;
}
#warnings {
  width: 100%;
  height: 20px;
  text-align: center;
}
#resultado {
  height: 30px;
  width: auto;
}
.btn-container {
  display: flex;
  gap: 1em;
}
.form-btn {
  width: 8em;
  height: 2.5em;
  border-radius: 4px;
  cursor: pointer;
  background: #eeeeee;
  font-size: 0.8em;
}
.form-btn:hover {
  background: #e2e2e2;
}