<form action="/create" method="post" id="formulario">
    <fieldset>
        <legend>ABC</legend>

        <label for="">DEF</label>
        <input type="number" name="" id="">

        <button class="form-btn" type="submit">Enviar</button>
    </fieldset>
</form>