<form action="/create" method="post" id="formulario">
    <fieldset>
        <legend>Novo Funcionário</legend>

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="">

        <label for="funcao">Função</label>
        <input type="text" name="funcao" id="">

        <label for="funcao">Salário</label>
        <input type="number" name="salario" id="">

        <div>
            <button class="form-btn" type="submit">Enviar</button>
            <button class="form-btn" type="submit">Limpar</button>
        </div>
    </fieldset>
</form>