<div class="divTable">
    <table>
      <thead>
        <tr>
          <% for (let info in lista_funcionarios) { %>
            <th><%= info %> </th>
          <% } %>
        </tr>
        
        <tr>
          <th class="acao">Editar</th>
          <th class="acao">Excluir</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>