<div class="divTable">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>Salário</th>
        </tr>
        <tr>
          <% for (let info in lista_funcionarios) { %>
            <th><%= info %> </th>
          <% } %>
        </tr>

        <% lista_funcionarios.forEach(funcionario => { %>
          <tr>
            <th>
              <%= funcionario.nome_funcionario %>
            </th>

            <th>
              <%= funcionario.funcao_funcionario %>
            </th>

            <th>
              R$ <%= funcionario.salario_funcionario %>
            </th>
          </tr> 
          
          <tr>
            <th class="acao">Editar</th>
            <th class="acao">Excluir</th>
          </tr>
        <% }); %>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>