<div class="divTable">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>Salário</th>
        </tr>

        <% lista_funcionarios.forEach(function (funcionario) => { %>
          <tr>
            <th>
              <%= funcionario.nome_funcionario %>
            </th>

            <th>
              <%= funcionario.funcao_funcionario %>
            </th>

            <th>
              R$ <%= funcionario.salario_funcionario %>
            </th>

            <th class="acao">Editar</th>
            <th class="acao">Excluir</th>
          </tr> 
        <% }); console.log(lista_funcionarios); %>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>