<div class="divTable">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>Salário</th>
          <th class="acao">Editar</th>
          <th class="acao">Excluir</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>