<div class="divTable">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>Salário</th>
        </tr>

        <% console.log(lista_funcionarios); %>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>