<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= funcao %></title>
</head>
<body>
    
</body>
</html>

<form action="/create" method="post" id="formulario">
    <fieldset>
        <legend><%= funcao %></legend>

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="">

        <label for="funcao">Função</label>
        <input type="text" name="funcao" id="">

        <label for="funcao">Salário</label>
        <input type="number" name="salario" id="">

        <div>
            <button class="form-btn" type="submit"><%= acao %></button>
            <button class="form-btn" type="submit">Limpar</button>
        </div>
    </fieldset>
</form>